@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.screen-warning{
  display: none;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  overflow-y: hidden;
  font-size: 20px;
}

.pacman {
  background-image: url('../images/testpm.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 40vw;
  width: 40vw;
  margin-top: 80px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.game-over {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  background: rgb(247,220,247);
  color: #000;
  z-index: 1;
  padding: 60px;
  border: 5px ridge rgb(247, 0,0);
  text-align: center;
  transform: translate(-50%, -50%);
}

.game-over button{
  font-family: 'VT323', monospace;
  background: rgb(247, 0,0);
  border-color: rgb(247, 0,0);
}

.scores-outerwrapper {
  position: fixed;
  top: 0;
  left: 0;
}

.wall {
  background-color: #6aa8e293
}

.ghosthome {
  background-color: #ebe52946
}

.portal {
  background-color: #3eff0969
}

.foodpoint {
  background-image: url('../images/foodpoint.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.superfoodpoint{
  background-image: url('../images/superfoodpoint.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.redghost{
  background-image: url('../images/redghost.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1; 
}

.orangeghost{
  background-image: url('../images/orangeghost.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.blueghost{
  background-image: url('../images/blueghost.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.pinkghost{
  background-image: url('../images/pinkghost.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 800px) {

  .grid-wrapper{
    display: none;
  }

  .screen-warning{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  }
  
}