@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.screen-warning{
  display: none;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  overflow-y: hidden;
  font-size: 24px;
  background-color: black;
  color: #fff
}

.pacman {
  background-image: url('../images/mspacman.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveLeft 5s linear infinite;
  position: absolute
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  pointer-events: none;
}

.grid {
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 40vw;
  width: 40vw;
  margin-top: 80px;
  pointer-events: none;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  position: relative;
}

.game-over {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  background: rgb(247,220,247);
  color: #000;
  z-index: 2;
  padding: 60px;
  border: 5px ridge rgb(247, 0,0);
  text-align: center;
  transform: translate(-50%, -50%);
}

.start-game {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  background: rgb(247,220,247);
  color: #000;
  z-index: 2;
  padding: 60px;
  border: 5px ridge rgb(247, 0,0);
  text-align: center;
  transform: translate(-50%, -50%);
}

.win {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  background: rgb(247,220,247);
  color: #000;
  z-index: 2;
  padding: 60px;
  border: 5px ridge rgb(247, 0,0);
  text-align: center;
  transform: translate(-50%, -50%);
}

.game-over button, .win button{
  font-family: 'VT323', monospace;
  background: rgb(247, 0,0);
  border-color: rgb(247, 0,0);
  cursor: pointer;
}

.scores-outerwrapper {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 28px;
}

.wall {
  background-color: rgb(247,220,247);
  border: solid 2px rgb(247, 0,0);
}


.ghosthome, .portal {
  background-color: black
}

.foodpoint {
  background-image: url('../images/foodpointicon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.superfoodpoint{
  background-image: url('../images/superfood.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.redghost{
  background-image: url('../images/redghosticon.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1; 
}

.orangeghost{
  background-image: url('../images/orangeghosticon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.blueghost{
  background-image: url('../images/blueghosticon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.pinkghost{
  background-image: url('../images/pinkghosticon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.scared{
  background-image: url('../images/scarestate.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 800px) {

  .grid-wrapper{
    display: none;
  }

  .screen-warning{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  }
  
}